html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.halloworld {
    width: 200px;
    height: 200px;
    background-color: orange;
    margin: auto;
    text-align: center;
    transform: translate(-5px, 7px);
}
.box1 {
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 0;
    background-color: red;
}
.box2 {
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0;
    background-color: rgb(0, 255, 85);
    transform: translate(+10px, -10px);
}
.box3 {
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: -2;
    left: 0;
    bottom: 0;
    background-color: rgb(0, 183, 255);
    transform: translate(+20px, -20px);
}